In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

In [3]:
data = pd.read_csv("insuranceCleanedFinal.csv")
data.head()

   age     sex    bmi  children smoker     region   charges
0   19  female  27.90         0    yes  southwest  16884.92
1   18    male  33.77         1     no  southeast   1725.55
2   28    male  33.00         3     no  southeast   4449.46
3   33    male  22.70         0     no  northwest  21984.47
4   32    male  28.88         0     no  northwest   3866.86

In [4]:
dummies = pd.get_dummies(data.smoker)
dummies

      no  yes
0      0    1
1      1    0
2      1    0
3      1    0
4      1    0
...   ..  ...
1326   1    0
1327   1    0
1328   1    0
1329   1    0
1330   0    1

[1331 rows x 2 columns]

In [5]:
merged = pd.concat([data,dummies],axis='columns')
merged

      age     sex    bmi  children smoker     region   charges  no  yes
0      19  female  27.90         0    yes  southwest  16884.92   0    1
1      18    male  33.77         1     no  southeast   1725.55   1    0
2      28    male  33.00         3     no  southeast   4449.46   1    0
3      33    male  22.70         0     no  northwest  21984.47   1    0
4      32    male  28.88         0     no  northwest   3866.86   1    0
...   ...     ...    ...       ...    ...        ...       ...  ..  ...
1326   50    male  30.97         3     no  northwest  10600.55   1    0
1327   18  female  31.92         0     no  northeast   2205.98   1    0
1328   18  female  36.85         0     no  southeast   1629.83   1    0
1329   21  female  25.80         0     no  southwest   2007.94   1    0
1330   61  female  29.07         0    yes  northwest  29141.36   0    1

[1331 rows x 9 columns]

In [6]:
final = merged.drop(['sex','smoker','age','bmi','smoker','region','children','yes'], axis = 'columns')
final

       charges  no
0     16884.92   0
1      1725.55   1
2      4449.46   1
3     21984.47   1
4      3866.86   1
...        ...  ..
1326  10600.55   1
1327   2205.98   1
1328   1629.83   1
1329   2007.94   1
1330  29141.36   0

[1331 rows x 2 columns]

In [7]:
X= final.drop('charges', axis='columns')
X

      no
0      0
1      1
2      1
3      1
4      1
...   ..
1326   1
1327   1
1328   1
1329   1
1330   0

[1331 rows x 1 columns]

In [8]:
Y= final.charges 
Y

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1326    10600.55
1327     2205.98
1328     1629.83
1329     2007.94
1330    29141.36
Name: charges, Length: 1331, dtype: float64

In [9]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
scale = StandardScaler()
X = scale.fit_transform(X)

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=.2, random_state=0)

In [11]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=3)
x_poly = poly.fit_transform(X_train)
poly.fit(X_train, Y_train)

PolynomialFeatures(degree=3)

In [12]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_poly,Y_train)

LinearRegression()

In [13]:
y_pred = model.predict(poly.fit_transform(X_test))

In [14]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [15]:
mse = mean_squared_error(Y_test, y_pred)
mae = mean_absolute_error(Y_test, y_pred)
r2 = r2_score(Y_test, y_pred)
print("R-squared:",r2)
print("Mean Squared Error (MSE):", mse)
print("Mean Absolute Error (MAE):", mae)

R-squared: 0.5807896023239087
Mean Squared Error (MSE): 60434232.87482359
Mean Absolute Error (MAE): 5835.5159176029965

In [16]:
Y_test

1297    21259.38
445     12731.00
458      7682.67
251     44260.75
975      4889.04
          ...
801      1815.88
613     11658.12
194      1639.56
240      5354.07
1163     4670.64
Name: charges, Length: 267, dtype: float64